<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <a href='/'>Local market app</a>
    </header>
    <main>
        <form action='/business/<%= clientIndex %>/new' method='POST'>
            name: <input type='text' name='name'> <br>
            description: <input type='text' name='description'> <br>
            address: <input type='text' name='address'> <br>
            webpage: <input type='text' name='webpage'> <br>
            facebook: <input type='text' name='facebook'> <br>
            instagram: <input type='text' name='instagram'> <br>
            whatsapp: <input type='text' name='whatsapp'> <br>
            photo: <input type='text' name='photo'> <br>
            telephone: <input type='text' name='telephone'> <br>
            foodCategory: <input type='text' name='foodCategory'> <br>
            location: <input type='text' name='location'> <br>
            <input type='submit' value='Create'>

        </form>
    </main>
    
</body>
</html>